// ==========================================================================
// Base
// ==========================================================================

body {
  background-color: $light-grey;
  font-family: $secondary-font-family;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -130px;
}

footer, .push {
  height: 130px;
  margin: 0;
}
