<footer>
  <div class="footer__item">
    <div class="footer__social">
      <ul>
        <li>
          <%= link_to image_tag('instagram_w.png', alt: "Instagram"), "https://www.instagram.com/hurtcycling", target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('twitter_w.png', alt: "Twitter"), "https://twitter.com/hurtcycling", target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('strava_w.png', alt: "Strava"), "https://www.strava.com/clubs/226750", target: "_blank" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__item">&copy; 2016 Hurt Cycling. All Rights Reserved.</div>
</footer>
